<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!user">
  <button ion-button (click)="userPoolSignUp()">Login?<span class="fa fa-google"></span></button>
</ion-content>
<ion-content padding *ngIf="user">
  <ion-thumbnail> <img src={{user.photoUrl}}>
  </ion-thumbnail>Welcome back, {{user.firstName}}!
  <button (click)="logOut()">Log Out?</button>

  <ion-card *ngFor="let message of messages">
    <ion-card-title>
      {{message.title}}
    </ion-card-title>
    <ion-card-content>
      {{message.description}}
    </ion-card-content>

  </ion-card>
</ion-content>