<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Speakers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let speaker of speakers$ | async" [routerDirection]="'root'" [routerLink]="[speaker.Id]">
      <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
      {{speaker.DisplayName}}
    </ion-item>
  </ion-list>
  <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
</ion-content>