<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Speakers
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="speaker$ | async as speaker">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{speaker.DisplayName}}
      </ion-card-title>
      <ion-card-subtitle>


        <ion-icon color="blue" name="logo-twitter"></ion-icon>@{{speaker.Twitter}}
        <br>

        <a href="{{speaker.Website}}"> {{speaker.Website}}</a>


      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        {{speaker.Bio}}
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let session of speaker.Sessions">


    <ion-card-content (click)="navigateToTalk(session.Id)">
      {{ session.Title}}
    </ion-card-content>
  </ion-card>
</ion-content>